<br><br><br><br>
{% load static %}
<footer>
    <link rel="stylesheet" href="{% static 'footer/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'footer/css/footer.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="container">
        <div class="sec aboutus">
            <h2>About Us</h2>
            <p>Bansloi Provide &rAarr; Founded in 2019, Bansloi is a provider of IT consulting and software development services. Bansloi centers its operations in the India, and delivers services worldwide via offices in the Gulf Cooperation Council and Europe. Throughout the company’s history, we have worked with over 1,123 customers from 19+ countries. 
            </p>
            <ul class="sci">
                <li><a href="https://www.facebook.com/BansloiSoftware"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/BansloiSoftware"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="https://www.instagram.com/BansloiSoftware"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="https://youtube.com/@BansloiSoftware"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                </ul>
        </div>
        <div class="sec quickLinks">
            <h2>Quick Links</h2>
            <ul>
                <li><a href="https://bansloi.com/about-us">About</a></li>
                <li><a href="https://bansloi.com/faq">FAQ</a></li>
                <li><a href="https://bansloi.com/privacy-policy">Privacy policy</a></li>
                <li><a href="https://bansloi.com/terms-consitions">Terms & Consitions</a></li>
                <li><a href="https://bansloi.com/contact">Contact</a></li>
            </ul>
        </div>
        <div class="sec contact">
            <h2>Contact Info</h2>
            <ul class="info">
                <li>
                    <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                    <span><br>815357 Jharkhand State</br>INDIA</span>
                </li>
                <li>
                    <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                    <p><a title="Call Now" href="tel:+919572990020">+919572990020</a><br>
                <a href="tel:+919572990020">+919572990020</a></p>
                </li>
                <li>
                    <span><i class="fas fa-envelope"></i></span>
                    <p><a title="Email Now" href="mailto:help@bansloi.com">help@bansloi.com</a></p>
                </li>

            </ul>
            

        </div>
        

    </div>
    
</div>

</footer>  
<div class="copyrightText">
    <p style="text-align: center;">Copyright &copy; Bansloi.com 2024</p>
</div>   

